APP_NAME=CompuGit_Backend
VERSION=2.1.0
ENV=dev

HOST=0.0.0.0
PORT=5000
DEBUG=False

SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRES=1  # 1 hour 
REFRESH_TOKEN_EXPIRES=1  # 1 day 

ENABLE_CORS=True
CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000" # *

# MongoDB Configuration (when DB_TYPE=mongodb)
DB_TYPE=mongodb
DB_URI=mongodb://localhost:27017
DB_NAME=compugit
DB_USERNAME=root
DB_PASSWORD=Root@123

# PostgreSQL Configuration (when DB_TYPE=postgresql)
# DB_TYPE=postgresql
# DB_URI=postgresql://postgres:postgres@localhost:5432
# DB_NAME=compugit